In [1]:
import pandas as pd
import numpy as np

In [2]:
# Segerstolpe pancreas data
RNA_DATA_PATH = 'segerstolpe_pancreas_counts_3514sc.csv'
CELLTYPE_DATA_PATH = 'segerstolpe_pancreas_annotations.csv'

df_GE = pd.read_csv(RNA_DATA_PATH, index_col = 0)
df_LABEL = pd.read_csv(CELLTYPE_DATA_PATH, index_col = 0)

In [3]:
df_GE = df_GE.reindex(sorted(df_GE.columns), axis = 1)

In [4]:
df_GE.shape

(26271, 3514)

In [5]:
df_GE = df_GE[~df_GE.index.duplicated(keep = 'first')]
df_GE['counts'] = df_GE.sum(axis = 1)
df_GE = df_GE[df_GE.counts > 10]
#df_GE = df_GE.iloc[:,:-1].div(df_GE.counts, axis = 0)

In [6]:
df_GE.head()

,AZ_A1,AZ_A10,AZ_A11,AZ_A12,AZ_A2,AZ_A3,AZ_A4,AZ_A5,AZ_A6,AZ_A7,...,HP1526901T2D_P23,HP1526901T2D_P24,HP1526901T2D_P3,HP1526901T2D_P4,HP1526901T2D_P5,HP1526901T2D_P6,HP1526901T2D_P7,HP1526901T2D_P8,HP1526901T2D_P9,counts
SGIP1,0,0,0,0,32,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4162
AZIN2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,6,9168
CLIC4,0,3,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,16,21,0,46542
AGBL4,0,0,0,0,0,0,0,0,0,0,...,12,0,0,0,0,0,0,0,0,4950
NECAP2,0,0,0,0,0,0,0,0,0,111,...,1,0,0,0,0,0,9,0,8,49503

In [7]:
df_GE.loc['Total'] = df_GE.sum(axis = 0)

In [8]:
df_GE = df_GE.iloc[:-1,:].div(df_GE.iloc[-1][:-1])*100000

In [9]:
df_GE.head()

,AZ_A1,AZ_A10,AZ_A11,AZ_A12,AZ_A2,AZ_A3,AZ_A4,AZ_A5,AZ_A6,AZ_A7,...,HP1526901T2D_P23,HP1526901T2D_P24,HP1526901T2D_P3,HP1526901T2D_P4,HP1526901T2D_P5,HP1526901T2D_P6,HP1526901T2D_P7,HP1526901T2D_P8,HP1526901T2D_P9,counts
SGIP1,0.0,0.000000,0.0,0.0,8.320441,0.0,0.0,0.0,0.0,0.000000,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,NaN
AZIN2,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,4.206128,NaN
CLIC4,0.0,0.343751,0.0,0.0,0.260014,0.0,0.0,0.0,0.0,0.000000,...,0.000000,0.0,0.0,0.0,0.0,0.0,10.562032,19.156739,0.000000,NaN
AGBL4,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,...,5.474228,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,NaN
NECAP2,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,5.228339,...,0.456186,0.0,0.0,0.0,0.0,0.0,5.941143,0.000000,5.608171,NaN

In [10]:
'''
df_GE = df_GE + 1

def pseudo(row):
    c = 1
    for i in row[:-1]:
        c *= float(i)
    return c**(1/(len(row)-1))

#df_GE['pseudo_count'] = df_GE.apply(lambda x: np.sqrt(math.prod(x)), axis = 1)
df_GE['pseudo_count'] = df_GE.apply(pseudo, axis = 1)
'''

"\ndf_GE = df_GE + 1\n\ndef pseudo(row):\n    c = 1\n    for i in row[:-1]:\n        c *= float(i)\n    return c**(1/(len(row)-1))\n\n#df_GE['pseudo_count'] = df_GE.apply(lambda x: np.sqrt(math.prod(x)), axis = 1)\ndf_GE['pseudo_count'] = df_GE.apply(pseudo, axis = 1)\n"

In [11]:
df_LABEL = df_LABEL.rename(columns = {'Characteristics[cell type]':'truth'})
badtypes = df_LABEL[df_LABEL.truth.isin(['not applicable','unclassified cell'])].index
df_LABEL = df_LABEL[~df_LABEL.index.isin(badtypes)]

In [12]:
df_GE = df_GE.loc[:,~df_GE.columns.isin(badtypes)]

In [13]:
from sklearn.preprocessing import LabelEncoder 
le = LabelEncoder()
le.fit(df_LABEL.truth)
mapping = pd.DataFrame({'Cell Type':le.classes_, 'Encoding':le.transform(le.classes_)})
df_LABEL.truth = le.fit_transform(df_LABEL.truth)

In [14]:
df_GE.iloc[:,:-1].to_csv('segerstolpe_pancreas_counts_clean2.csv')
df_LABEL.to_csv('segerstolpe_pancreas_annotations_clean2.csv')
mapping.to_csv('segerstolpe_annotation_map2.csv')

In [15]:
df_GE.head()

,AZ_A10,AZ_A11,AZ_A12,AZ_A2,AZ_A5,AZ_A6,AZ_A7,AZ_A8,AZ_A9,AZ_B1,...,HP1526901T2D_P19,HP1526901T2D_P2,HP1526901T2D_P20,HP1526901T2D_P21,HP1526901T2D_P22,HP1526901T2D_P23,HP1526901T2D_P4,HP1526901T2D_P7,HP1526901T2D_P9,counts
SGIP1,0.000000,0.0,0.0,8.320441,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,NaN
AZIN2,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.000000,3.526306,0.000000,0.000000,0.000000,0.0,0.000000,4.206128,NaN
CLIC4,0.343751,0.0,0.0,0.260014,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,2.053571,3.526306,9.961633,0.000000,0.000000,0.0,10.562032,0.000000,NaN
AGBL4,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.000000,0.000000,0.000000,0.000000,5.474228,0.0,0.000000,0.000000,NaN
NECAP2,0.000000,0.0,0.0,0.000000,0.0,0.0,5.228339,0.0,0.0,0.0,...,0.0,0.000000,0.000000,0.000000,0.388461,0.456186,0.0,5.941143,5.608171,NaN

In [2]:
# Lamprecht Lung TME Data
CELLTYPE_DATA_PATH = 'Lamprecht_1a_celltype.csv'
df_LABEL = pd.read_csv(CELLTYPE_DATA_PATH, index_col = 0)

In [5]:
from sklearn.preprocessing import LabelEncoder 
le = LabelEncoder()
le.fit(df_LABEL.truth)
mapping = pd.DataFrame({'Cell Type':le.classes_, 'Encoding':le.transform(le.classes_)})
df_LABEL.truth = le.fit_transform(df_LABEL.truth)

In [7]:
df_LABEL.to_csv('Lamprecht_1a_celltype_clean.csv')
mapping.to_csv('Lamprecht_celltype_map.csv')